<div class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4">
    <div class="col-12 col-lg-6">
        <img src="/img/hero-image.jpg" width="607" height="510" class="d-block mx-lg-auto img-fluid" loading="lazy"
            alt="Fitness With Node.js">
    </div>

    <div class="col-12 col-lg-6">
        <h1 class="display-5 fw-bold mb-3">Strengthen your body, build up your mind</h1>
        <p class="lead">
        With over 15,000 square feet of facility, we will help you FINISH your fitness goals! 
        Group Classes in Boxing, HIIT, Yogurt, Women’s Self Defense and Hiphop Dance (Breakdance, Urban & Jazz)
        </p>

        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <a href="/explore-membership" class="btn btn-primary btn-dark btn-lg px-4 me-md-2">Explore Membership</a>
            <a href="/explore-galleries" class="btn btn-outline-secondary btn-lg px-4 me-md-2">Check Galleries</a>
        </div>

    </div>

</div>

<!-- Categories Start -->


<div class="row row-cols-2 row-cols-lg-6 g-2 g-lg-3 py-4">

    <a href="/categories" class="col text-center category__link" >
        <div class="category__img shadow">
            <img src="img/boxing.jpg" alt="Boxing" loading="lazy" width="200" height="">
        </div>
        <div class="pt-1">Boxing</div>
    </a>

    <a href="/categories" class="col text-center category__link">
        <div class="category__img shadow">
            <img src="img/yoga.jpg" alt="Yoga" loading="lazy" width="200" height="">
        </div>
        <div class="pt-1">Yoga</div>
    </a>

    <a href="/categories" class="col text-center category__link">
        <div class="category__img shadow">
            <img src="img/hiit.jpg" alt="HIIT" loading="lazy" width="200" height="">
        </div>
        <div class="pt-1">HIIT</div>
    </a>

    <a href="/categories" class="col text-center category__link">
        <div class="category__img shadow">
            <img src="img/womendefence.jpg" alt="Defence" loading="lazy" width="200" height="134">
        </div>
        <div class="pt-1">Women’s Self Defense</div>
    </a>

    <a href="/categories" class="col text-center category__link">
        <div class="category__img shadow">
            <img src="img/dance.jpg" alt="Dance" loading="lazy" width="200" height="">
        </div>
        <div class="pt-1">Dancing</div>
    </a>

    <a href="/categories" class="col text-center category__link">
        <div class="category__img shadow">
            <img src="img/view-all.jpg" alt="View All Categories" loading="lazy" width="200" height="">
        </div>
        <div class="pt-1">View All</div>
    </a>
    
</div>
    <!-- Categories End -->

<div class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4">
    <div class="col-12 col-lg-6">
        <img src="/img/swimmingpool.jpg" width="607" height="510" class="d-block mx-lg-auto img-fluid" loading="lazy"
            alt="swimmingpool">
    </div>

    <div class="col-12 col-lg-6">
        <h1 class="display-5 fw-bold mb-3">Aquatics,
            flow with spirit</h1>
        <p class="lead">
            Our gorgeous indoor swimming pools and whirlpools are a place to work out or hang out. Lounge poolside with a beverage or
            try a fitness class like H20 HIT.
        </p>
    </div>

</div>


<!-- Submit - Start -->
<section class="px-4 py-5 my-5 text-center">
    <img src="/img/share.jpg" class="d-block mx-auto mb-4 img-fluid" alt="share your picture here"
        width="566" height="208" loading="lazy">
    <h1 class="display-5 fw-bold">Share your experience here with pictures today</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Publish your stories here, let thousands of people know</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="/submit-" class="btn btn-primary btn-dark btn-lg">Submit Information</a>
        </div>
    </div>
</section>

<!-- Submit - End -->